@{
  Layout = "_Layout";
}


<h1>Add a new Departure City</h1>
<form action="/create-departure-city" method="post">
  <label for="departure-city">Name of Departure City:</label>
  <input id="departure-city" name="departure-city" type="text">
  <button class="btn btn-primary" type="submit">Add New City</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/index">View all Departures</a></p>
