@{
  Layout = "_Layout";
}

        <div class="jumbotron">
          <h1>Airline Planner</h1>
          <h4>Organize Flights</h4>
        </div>

      <h4><a href="/Arrivals">View Arrivals</a></h4>
      <h4><a href="/Departures">View Departures</a></h4>
